.navbar-brand{
    font-size: 30px;
}

.navbar-nav .nav-item{
    margin: 10px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 700px;
    object-fit: cover; 
}

.hero-title {
    position: absolute;
    top: 50%;         
    left: 50%;
    transform: translate(-50%, -50%);         
    color: white;       
    font-weight: bold;
    text-align: center;
}

.hero-title h4{
    font-size: 60px;  
}
.hero-title h6 {
    font-size: 35px;
    margin-top: 10px; 
    font-weight: normal;
}

/* about */
.about{
    background: #f8f9fa;
}
.about p {
    color: #555;
}

/* experience */
.experience-education {
    background: #f8f9fa;
}
.timeline-item h6 {
    color: #0d6efd;
}
.card-title{
    color: #0d6efd;
}
/* footer */
.sosmed{
    font-size: 30px;
    text-align: center;
}
